[core]
	editor = nvim
	excludesfile = /Users/hsuyuting/.gitignore
[user]
	name = 許煜廷
	email = me@hsuyuting.com
[alias]
	ci = commit
	co = checkout
	st = status
[url "git@github.com:"]
	insteadOf = https://github.com/
