[core]
	editor = nvim
	excludesfile = /Users/sfhp/.gitignore
[user]
	name = gnituy18
	email = hsuyuting@proton.me
[alias]
	co = checkout
	ci = commit
	st = status
[credential]
	helper = cache
[url "git@github.com:"]
	insteadOf = https://github.com/
