[core]
	editor = nvim
	excludesfile = /Users/sfhp/.gitignore
	pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[user]
	name = gnituy18
	email = sfhp@protonmail.com
[alias]
	co = checkout
	ci = commit
	st = status
[credential]
	helper = cache
[url "git@github.com:"]
	insteadOf = https://github.com/
